BOT_TOKEN=ваштелеграмтокен
ADMIN_ID=ваштелеграмид

WEBAPP_HOST=0.0.0.0
WEBAPP_PORT=8443

SUBSCRIPTION_BASE_URL=https://nyxvpnnl.home.kg:15498/sub

# Нода 1
SERVER1_NAME="First Node"
SERVER1_URL=http://localhost:2053
SERVER1_USERNAME=admin
SERVER1_PASSWORD=admin
SERVER1_INBOUND_ID=1

# Нода 2
SERVER2_NAME="Second Node"
SERVER2_URL=http://localhost:2053
SERVER2_USERNAME=admin
SERVER2_PASSWORD=admin
SERVER2_INBOUND_ID=1
